            <div class="container header-content">
                <div class="logo">
                    <a href="index.html">
                        <img src="logo.png" alt="SAN Technologies Logo">
                    </a>
                </div>
                
                <div class="nav-right">
                    <div class="nav-desktop">
                        <nav>
                            <ul>
                                <li><a href="index.html#showcase" data-translate="nav_work">Referenzen</a></li>
                                <li class="dropdown">
									<a href="javascript:void(0)" class="dropbtn"><span data-translate="nav_products">Produkte/Dienste</span> ▾</a>
										<div class="dropdown-content">
			        						<a href="san-suite.html">SAN Suite (Gastro)</a>
			        						<a href="san-commerce.html">SAN Commerce (Retail)</a>
              								<a href="san-studio.html">SAN Studio</a>
											<a href="san-folio.html">SAN Folio</a>
										</div>
								</li>
                                <li><a href="index.html#services" data-translate="nav_services">Leistungen</a></li>
                                <li><a href="team.html" data-translate="nav_about">Team</a></li>
								<li><a href="contact.html" data-translate="nav_contact">Zum Kontakt</a></li>
                            </ul>
                        </nav>
                    </div>
                    
                    <div class="lang-switch-container desktop-lang">
                        <img src="https://upload.wikimedia.org/wikipedia/en/b/ba/Flag_of_Germany.svg" alt="DE" class="flag-icon">
                        <span style="margin-left:4px;">DE</span>
                        <label class="switch" style="margin: 0 8px;">
                            <input type="checkbox" class="lang-toggle-input">
                            <span class="slider"></span>
                        </label>
                        <span style="margin-right:4px;">EN</span>
                        <img src="https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg" alt="IN" class="flag-icon">
                    </div>

                    <div class="hamburger" id="hamburgerBtn">
                        <div class="bar"></div><div class="bar"></div><div class="bar"></div>
                    </div>
                </div>
            </div>
